:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /*Text colors */
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --third-color: #ffffff;

  /*Background colors */
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --hero-btn-hover: #188ce8;
  --gallery-item-border: #eeeeee;
  --main-icon-color: #afb1b8;
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --modal-btn-bg: rgba(0, 0, 0, 0.1);
}

body {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: currentColor;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}

/* ---Студия---*/
.services-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
  /* outline: 2px solid tomato; */
}

/* Хедер */
.header {
  background-color: var(--main-bg-color);
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  margin-right: 93px;
}
.logo-dark {
  color: #000000;
}

/* Навигация */
.nav-link,
.contact-link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link {
  position: relative;
  color: var(--secondary-text-color);
}
.nav-link.current {
  color: var(--accent-color);
}
.nav-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 0;
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-link {
  color: var(--main-text-color);
}
.contact-list {
  display: flex;
  align-items: center;
}
.contact-item {
  margin-right: 50px;
}
.contact-item:last-child {
  margin-right: 0;
}
.icon-mail,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.icon-mail:hover,
.icon-smartphone:hover {
  fill: currentColor;
}

/* Секция Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /* background-color: var(--dark-bg-color); */
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  width: 696px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}
.hero-btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--third-color);
  background-color: var(--hero-btn-hover);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--main-bg-color);
  border: 1px solid var(--modal-btn-bg);
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}
.modal-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal-form-group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.modal-form-label {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: start;
  color: var(--main-text-color);
}
.modal-form-input {
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.modal-form-input:hover,
.modal-form-input:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-form-input:hover,
.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus,
.modal-form-input:focus + .modal-form-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.modal-textarea {
  padding: 12px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}
.modal-policy-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 9px;

  border-radius: 4px;
  border: 2px solid var(--secondary-text-color);
  cursor: pointer;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:hover + .custom-checkbox,
.modal-form-checkbox:focus + .custom-checkbox {
  border: 2px solid var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
.icon-check {
  opacity: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-bg-color);
}
.modal-form-checkbox:checked + .custom-checkbox .icon-check {
  opacity: 1;
}
.form-agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.form-agreement-link {
  text-decoration: underline;
  color: var(--accent-color);
}
.modal-submit-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background: var(--accent-color);

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  color: var(--main-bg-color);
  background-color: var(--hero-btn-hover);
}
/* Особености */ /* Чем мы занимаемся */
.features-list,
.services-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.features-item {
  margin-right: 30px;
  width: 270px;
}
.features-item:last-child {
  margin-right: 0;
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--main-bg-color);
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.features-box {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.services {
  padding-bottom: 94px;
  background-color: var(--main-bg-color);
}
.services-title {
  margin-bottom: 50px;
}
.services-item {
  position: relative;
  margin-right: 30px;
}
.services-item:last-child {
  margin-right: 0;
}
.service-description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* Наша команда */
.team {
  padding: 94px 0;
  background-color: var(--secondary-bg-color);
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  align-items: center;
}
.team-item {
  margin-right: 30px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
  margin-right: 0;
}
.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 270px;
  align-items: center;
}
.team-social-list {
  display: flex;
}
.team-social-item {
  display: flex;
  margin-right: 10px;
}
.team-social-item:last-child {
  margin-right: 0;
}
.team-social-link {
  width: 44px;
  height: 44px;
  fill: var(--main-icon-color);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--main-bg-color);
}
/* Секция "Наши клиенты" */
.clients {
  padding: 94px 0;
}
.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-item {
  display: flex;
  margin-right: 30px;
}
.clients-item:last-child {
  margin-right: 0;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--main-icon-color);
  align-items: center;
  justify-content: center;
  fill: var(--main-icon-color);
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
/* Подвал */
.footer {
  padding: 60px 0;
  background-color: var(--dark-bg-color);
  box-sizing: border-box;
}
.footer > .container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.logo-box {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}
.logo-light {
  color: var(--third-color);
}
.logo-footer {
  margin-bottom: 20px;
}
.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
}
.address-text {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
  text-decoration: none;
}
.address-link {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:last-child {
  margin-bottom: 0;
}
.join-box {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}
.join-title {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
}
.join-list {
  display: flex;
}
.join-item {
  display: flex;
  margin-right: 10px;
}
.join-item:last-child {
  margin-right: 0;
}
.join-link {
  width: 44px;
  height: 44px;
  fill: var(--main-bg-color);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
  fill: var(--main-bg-color);
}
.subscribe-box {
  display: flex;
  flex-direction: column;
}
.subscribe-tittle {
  display: flex;
  margin-bottom: 20px;
  color: var(--main-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscribe-form {
  display: flex;
}
.subscribe-input-email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input-email:hover,
.subscribe-input-email:focus {
  border-color: var(--main-bg-color);
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  border-color: var(--main-bg-color);
}
.icon-send {
  fill: var(--main-bg-color);
}
/* ---Портфолио---*/

/* Фильтр */
.btn-filter {
  padding: 94px 0;
}
.btn-filter,
.btn-list,
.gallery-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-list {
  margin-bottom: 50px;
}
.btn-item {
  margin-right: 8px;
}
.btn-item:last-child {
  margin-right: 0;
}

.btn-text {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-text.current,
.btn-text:hover,
.btn.text:focus {
  color: var(--third-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Галерея проектов */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery-item:nth-child(3n) {
  margin-right: 0;
}
.gallery-item:nth-child(n + 7) {
  margin-bottom: 0;
}
.gallery-link {
  width: 370px;
  border: 1px solid var(--gallery-item-border);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-img-box {
  position: relative;
  overflow: hidden;
}
.gallery-description {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover .gallery-description,
.gallery-link:focus .gallery-description {
  transform: translateY(0);
}
.gallery-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.gallery-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.gallery-content {
  padding: 20px 24px;
}
